    <div class="header">
      <div class="logo-placement">
        <a href="#/">SSC</a>
      </div>
      <ul class="topnav navigation" id="nav">
        <li><a class="btn-default sign-in"><span ng-click="clickSignIn()">Sign in</span></a></li>
        <li><a href="http://www.gifbin.com/986624">FAQs</a></li>
        <li><a href="http://neogohan.co.vu/post/34647059349">Corporate Solutions</a></li>
        <li><a href="http://noodlesonmyback.tumblr.com/post/18737287976">About Us</a></li>
        <li><a href="http://octopussoir-.tumblr.com/post/24886516348">Course Details</a></li>
        <li class="icon">
          <a href="javascript:void(0);" ng-click="clickMenu()" style="font-size:15px;">☰</a>
        </li>
      </ul>
      <div id="signInModal" class="modal">
          <div class="modal-content">
            <span class="close">x</span>
            <form>
              <input type="email" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
              <input type="password" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
              <a href="#"><div class="btn-signIn">Sign In</div></a>
              <a href="#"><div id="btn-signUp">Sign Up</div></a>
            </form>
            <br>
            <a href="http://giphy.com/gifs/computer-DfuJ4dycdYPQI" target="_newtab">Forgot your password?</a>
          </div>
        </div>
    </div>